<nav class="navbar navbar-expand-sm bg-facebook-blue navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Medical Record</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
      <span>By Arnold Doba</span>
</footer>
